<?xml version='1.0' encoding='utf-8'?>
<widget id="io.hrxclub.hrx" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>hrx</name>
    <description>
        Hack Reactor own alumni network
    </description>
    <author email="julesmoretti@me.com" href="http://jules.digital">
        Hack Reactor / Jules Moretti
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
