/*@font-face {
  font-family: "Ionicons";
  src: url("../fonts/ionicons.eot?v=2.0.0");
  src: url("../fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), url("../fonts/ionicons.ttf?v=2.0.0") format("truetype"), url("../fonts/ionicons.woff?v=2.0.0") format("woff"), url("../fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal;
}*/
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.eot?v=2.0.0");
  src: url("../fonts/Roboto-Light.eot?v=2.0.0#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.ttf?v=2.0.0") format("truetype"), url("../fonts/Roboto-Light.woff?v=2.0.0") format("woff"), url("../fonts/Roboto-Light.svg?v=2.0.0#Roboto-Light") format("svg");
  font-weight: 100;
  font-style: 100;
}

body {
  /*opacity: 1;*/
  /*-webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    transition: opacity 1s;*/
}

#menu, #menuList, #alumni, #alumn {
  background-color: pink;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 2;
}

#menu.ng-enter, #menuList.ng-enter, #alumni.ng-enter, #alumn.ng-enter {
  -webkit-animation: menu-enter 0.125s ease-out;
  animation: menu-enter 0.125s ease-out;
}

#menu.ng-leave, #menuList.ng-leave, #alumni.ng-leave, #alumn.ng-leave {
  -webkit-animation: menu-enter 0.125s ease-out reverse;
  animation: menu-enter 0.125s ease-out reverse;
  /*animation-delay: 1s;*/
  z-index: 1;
}

@-webkit-keyframes menu-enter {
  0% {
    right: -320px;
    top: 0px;
    bottom: 0px;
  }
  100% {
    right: 0px;
    top: 0px;
    bottom: 0px;
  }
}

@keyframes menu-enter {
  0% {
    right: -320px;
    top: 0px;
    bottom: 0px;
  }
  100% {
    right: 0px;
    top: 0px;
    bottom: 0px;
  }
}

#mapFilter {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 1.8em;
  color: #DDD;
  /*&:after {
    font-family: 'Ionicons';
    content: '\f397';
  }*/
}

#mapMenu {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 1.8em;
  color: #DDD;
  /*  &:after {
    font-family: 'Ionicons';
    content: '\f394';
  }*/
}

.menuList {
  width: 320px;
  height: 100%;
}

#menuFooter {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 10;
  line-height: 40px;
  width: 320px;
}

#ngMap {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  /*height: 100%;*/
  /*width: 100%;*/
}

#ngMap div {
  /*background-color: #212121;*/
  background-color: #2d333c;
}

#ngMap div div:nth-of-type(2) {
  display: none;
}

#ngMap div div:nth-of-type(3) {
  display: none;
}

#ngMap div div:nth-of-type(4) {
  display: none;
}

#ngMap div div:nth-of-type(5) {
  display: none;
}

#ngMap div div:nth-last-of-type(6) {
  display: table-column;
}

#filter {
  background-color: #181818;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  color: white;
}

#filter.ng-enter {
  -webkit-animation: filter-enter 0.125s ease-out;
  animation: filter-enter 0.125s ease-out;
}

#filter.ng-leave {
  -webkit-animation: filter-enter 0.125s ease-out reverse;
  animation: filter-enter 0.125s ease-out reverse;
}

@-webkit-keyframes filter-enter {
  0% {
    bottom: -70px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes filter-enter {
  0% {
    bottom: -70px;
  }
  100% {
    bottom: 0px;
  }
}

#filter .filter div.closeFilter {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 35px;
  height: 35px;
  text-decoration: none;
  color: #555;
  text-align: center;
  z-index: 2;
  font-size: 1.8em;
}

#filter .filter div.checkbox {
  margin-left: 18px;
  margin-top: 10px;
}

#filter .filter div.checkbox span {
  font-size: 18px;
  padding-left: 50px;
  color: #555;
  line-height: 20px;
}

#filter .filter div.checkbox span:after {
  background: #111;
}

#filter .filter div:nth-of-type(2) {
  margin-top: 20px;
  margin-left: 18px;
  margin-right: 18px;
}

#filter .filter div:nth-of-type(2) input {
  background-color: #222;
  border-color: #555;
  border-width: 0px;
}

#filter .filter div:nth-of-type(2) span {
  background-color: #333;
  border-width: 0px;
  font-size: 20px;
}

#filter .filter div:nth-of-type(3) {
  margin-top: 20px;
}

#filter .filter div:nth-last-of-type(1) {
  margin-bottom: 20px;
}
