/*@font-face {
  font-family: "Ionicons";
  src: url("../fonts/ionicons.eot?v=2.0.0");
  src: url("../fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), url("../fonts/ionicons.ttf?v=2.0.0") format("truetype"), url("../fonts/ionicons.woff?v=2.0.0") format("woff"), url("../fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal;
}*/
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.eot?v=2.0.0");
  src: url("../fonts/Roboto-Light.eot?v=2.0.0#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.ttf?v=2.0.0") format("truetype"), url("../fonts/Roboto-Light.woff?v=2.0.0") format("woff"), url("../fonts/Roboto-Light.svg?v=2.0.0#Roboto-Light") format("svg");
  font-weight: 100;
  font-style: 100;
}

/*body {*/
/*opacity: 1;*/
/*-webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    transition: opacity 1s;*/
/*}*/
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  /*z-index: -2;*/
}

#map-canvas .gm-style > div:nth-of-type(1) {
  background-color: #333;
}

#map-canvas .gm-style > div:nth-of-type(2) {
  bottom: -50px !important;
}

#map-canvas .gm-style div.gmnoprint {
  bottom: -50px !important;
}

#map-canvas .gm-style > div:nth-last-of-type(1) > div:nth-of-type(2) {
  left: 7px !important;
  top: 9px !important;
}

#map-canvas .gm-style > div:nth-last-of-type(1) > div:nth-of-type(2) > div:nth-of-type(5) {
  -webkit-border-image: none !important;
  width: 44px !important;
  height: 44px !important;
}

#map-canvas .gm-style > div:nth-last-of-type(1) > div:nth-of-type(2) > div:nth-of-type(5) div {
  background-image: none !important;
  font-family: 'ionicons';
  text-align: center;
  line-height: 44px;
  font-size: 1.8em;
  color: #DDD;
}

#map-canvas .gm-style > div:nth-last-of-type(1) > div:nth-of-type(2) > div:nth-of-type(5) div:after {
  content: '\f218';
  text-shadow: 0px 0px 4px #000000;
}

#map-canvas .gm-style > div:nth-last-of-type(1) > div:nth-of-type(2) > div:nth-of-type(10) {
  -webkit-border-image: none !important;
  width: 44px !important;
  height: 44px !important;
}

#map-canvas .gm-style > div:nth-last-of-type(1) > div:nth-of-type(2) > div:nth-of-type(10) div {
  background-image: none !important;
  font-family: 'ionicons';
  text-align: center;
  line-height: 44px;
  font-size: 1.8em;
  color: #DDD;
}

#map-canvas .gm-style > div:nth-last-of-type(1) > div:nth-of-type(2) > div:nth-of-type(10) div:after {
  content: '\f209';
  text-shadow: 0px 0px 4px #000000;
}

#menu, #menuList, #alumni, #alumn {
  background-color: #222;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 2;
}

#menu.ng-enter, #menuList.ng-enter, #alumni.ng-enter, #alumn.ng-enter {
  -webkit-animation: menu-enter 0.125s ease-out;
  animation: menu-enter 0.125s ease-out;
}

#menu.ng-leave, #menuList.ng-leave, #alumni.ng-leave, #alumn.ng-leave {
  -webkit-animation: menu-enter 0.125s ease-out reverse;
  animation: menu-enter 0.125s ease-out reverse;
  /*animation-delay: 1s;*/
  z-index: 1;
}

@-webkit-keyframes menu-enter {
  0% {
    right: -320px;
    top: 0px;
    bottom: 0px;
  }
  100% {
    right: 0px;
    top: 0px;
    bottom: 0px;
  }
}

@keyframes menu-enter {
  0% {
    right: -320px;
    top: 0px;
    bottom: 0px;
  }
  100% {
    right: 0px;
    top: 0px;
    bottom: 0px;
  }
}

#mapFilter {
  position: absolute;
  left: 12px;
  bottom: 0px;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  font-size: 1.8em;
  color: #DDD;
  text-shadow: 0px 0px 4px #000000;
  /*&:after {
    font-family: 'Ionicons';
    content: '\f397';
  }*/
}

#mapMenu {
  position: absolute;
  right: 12px;
  bottom: 0px;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  font-size: 1.8em;
  color: #DDD;
  text-shadow: 0px 0px 4px #000000;
  /*  &:after {
    font-family: 'Ionicons';
    content: '\f394';
  }*/
}

.menuList {
  width: 320px;
  height: 100%;
}

#menuFooter {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 10;
  height: 44px;
  line-height: 44px;
  width: 320px;
  background-color: #181818;
}

#menuFooter div {
  text-align: center;
}

#menuFooter div.back-button {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 44px;
  height: 44px;
  color: #777;
}

#menuFooter div.main-title {
  width: 100%;
  color: white;
}

#filter {
  background-color: #181818;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  color: white;
}

#filter.ng-enter {
  -webkit-animation: filter-enter 0.125s ease-out;
  animation: filter-enter 0.125s ease-out;
}

#filter.ng-leave {
  -webkit-animation: filter-enter 0.125s ease-out reverse;
  animation: filter-enter 0.125s ease-out reverse;
}

@-webkit-keyframes filter-enter {
  0% {
    bottom: -70px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes filter-enter {
  0% {
    bottom: -70px;
  }
  100% {
    bottom: 0px;
  }
}

#filter .filter div.closeFilter {
  position: absolute;
  right: 12px;
  bottom: 0px;
  width: 44px;
  height: 44px;
  text-decoration: none;
  color: #555;
  text-align: center;
  z-index: 2;
  font-size: 1.8em;
  line-height: 44px;
  text-align: center;
}

#filter .filter div.checkbox {
  margin-left: 23px;
  margin-top: 10px;
}

#filter .filter div.checkbox input + span:after {
  background: #111;
}

#filter .filter div.checkbox input:checked + span:after {
  background: #5bc0de;
}

#filter .filter div.checkbox span {
  font-size: 18px;
  padding-left: 50px;
  color: #555;
  line-height: 20px;
  display: block;
  pointer-events: none;
}

#filter .filter div.checkbox span:after {
  /*background: #111;*/
}

#filter .filter div.input-group {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

#filter .filter div.input-group input {
  background-color: #222;
  border-color: #555;
  border-width: 0px;
  color: #5bc0de;
}

#filter .filter div.input-group span {
  background-color: #333;
  border-width: 0px;
  font-size: 20px;
}

#filter .filter div:nth-of-type(3) {
  margin-top: 20px;
}

#filter .filter div:nth-last-of-type(1) {
  margin-bottom: 15px;
}
