@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.eot?v=2.0.0");
  src: url("../fonts/Roboto-Light.eot?v=2.0.0#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.ttf?v=2.0.0") format("truetype"), url("../fonts/Roboto-Light.woff?v=2.0.0") format("woff"), url("../fonts/Roboto-Light.svg?v=2.0.0#Roboto-Light") format("svg");
  font-weight: 100;
  font-style: 100;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*google maps styles to hide the google logo and footers*/
.gm-style > div:nth-of-type(1) {
  background-color: #333;
}

.gm-style > div:nth-of-type(2) {
  bottom: -50px !important;
}

.gm-style div.gmnoprint {
  bottom: -50px !important;
}

.home {
  background-color: #222;
  /*width: 100%;*/
  /*height: 100%;*/
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: #555;
}

.login {
  background-color: #222;
  /*width: 100%;*/
  /*height: 100%;*/
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: #555;
}

.login #loginLogo {
  width: 300px;
  height: 300px;
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  /*background-image: url(../img/HRA-logo.svg);*/
  /*background-repeat: no-repeat;*/
  /*background-attachment: fixed;*/
  /*background-position: center;*/
}

.login #loginLogo object {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

.login #loginLogo .floatingGitEyes {
  width: 100px;
  height: 100px;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  /*background-image: url(../img/github-cat-eye.svg);*/
  /*background-repeat: no-repeat;*/
  /*background-position: center;*/
  -webkit-animation-name: blink;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  animation-name: blink;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

.login #loginLogo .floatingGitEyes object {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

.login #loginLogo .floatingGit {
  width: 100px;
  height: 100px;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  /*background-image: url(../img/github-cat-no-eye.svg);*/
  /*background-repeat: no-repeat;*/
  /*background-position: center;*/
  -webkit-animation-name: ghostLike;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-name: ghostLike;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.login #loginLogo .floatingGit object {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

.login #loginLogo .floatingLI {
  width: 50px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  /*background-image: url(../img/github-cat-no-eye.svg);*/
  /*background-repeat: no-repeat;*/
  /*background-position: center;*/
  -webkit-animation-name: ghostLike;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-name: ghostLike;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.login #loginLogo .floatingLI object {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

@-webkit-keyframes ghostLike {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes ghostLike {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

#menu, #menuList, #alumni, #alumn {
  background-color: #222;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 2;
  box-shadow: -1px 0px 6px #000000;
}

#menu.ng-enter, #menuList.ng-enter, #alumni.ng-enter, #alumn.ng-enter {
  -webkit-animation: menu-enter 0.125s ease-out;
  animation: menu-enter 0.125s ease-out;
}

#menu.ng-leave, #menuList.ng-leave, #alumni.ng-leave, #alumn.ng-leave {
  -webkit-animation: menu-enter 0.125s ease-out reverse;
  animation: menu-enter 0.125s ease-out reverse;
  /*animation-delay: 1s;*/
  z-index: 1;
}

@-webkit-keyframes menu-enter {
  0% {
    right: -320px;
    top: 0px;
    bottom: 0px;
  }
  100% {
    right: 0px;
    top: 0px;
    bottom: 0px;
  }
}

@keyframes menu-enter {
  0% {
    right: -320px;
    top: 0px;
    bottom: 0px;
  }
  100% {
    right: 0px;
    top: 0px;
    bottom: 0px;
  }
}

#mapLocation {
  position: absolute;
  left: 12px;
  top: 12px;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  font-size: 1.8em;
  color: #DDD;
  text-shadow: 0px 0px 4px #000000;
}

#mapLocation.moveCurrentLocationDown {
  /*-webkit-transition: all linear 0s !important;*/
  /*transition: all linear 0s !important;*/
  top: 52px;
}

#mapLocation.mapLocation {
  -webkit-transition: all linear 1s;
  transition: all linear 1s;
  opacity: 1;
}

#mapLocation.mapLocation.ng-hide {
  opacity: 0;
}

#mapLocation.mapLocationSpin {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
  #mapLocation from {
    -ms-transform: rotate(0deg);
  }
  #mapLocation to {
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#mapFilter {
  position: absolute;
  left: 12px;
  bottom: 12px;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  font-size: 1.8em;
  color: #DDD;
  text-shadow: 0px 0px 4px #000000;
}

#mapMenu {
  position: absolute;
  right: 12px;
  bottom: 12px;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  font-size: 1.8em;
  color: #DDD;
  text-shadow: 0px 0px 4px #000000;
}

.angular-google-map-container {
  height: 100%;
  width: 100%;
  position: absolute;
}

/*.blur {*/
/*-webkit-transition: all linear 0.125s;*/
/*transition: all linear 0.125s;*/
/*-webkit-filter: blur(2px);*/
/*}*/
.mapForegroundMask {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
}

.mapBackgroundMask {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
}

#settings {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  color: white;
  /*box-shadow: 0px 0px 2px #000000;*/
}

#settings .settings {
  background-color: #181818;
  height: 180px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-top: 5px;
}

#settings .settings div.checkbox {
  margin-left: 23px;
  margin-top: 20px;
  /*margin-top: 10px;*/
  /*margin-bottom: 20px;*/
}

#settings .settings div.checkbox input + span:after {
  background: #181818;
}

#settings .settings div.checkbox input:checked + span:after {
  /*background: $android-cyan;*/
  background: #43899E;
}

#settings .settings div.checkbox span {
  font-size: 18px;
  padding-left: 50px;
  color: #555;
  line-height: 20px;
  display: block;
  pointer-events: none;
}

#settings .settings div.checkbox span.filterSelected {
  color: #43899E !important;
}

#settings .settings div.checkbox span:after {
  /*background: #111;*/
}

#settings .settings div.button {
  margin: 15px 23px 0px 23px;
  height: 44px;
  width: calc( 100% - 46px);
  background-color: #333;
  border: 2px solid #43899e;
  color: #5bc0de;
  text-align: center;
  line-height: 40px;
}

#settings.ng-enter {
  -webkit-animation: settings-enter 0.125s ease-out;
  animation: settings-enter 0.125s ease-out;
}

#settings.ng-leave {
  -webkit-animation: settings-enter 0.125s ease-out reverse;
  animation: settings-enter 0.125s ease-out reverse;
}

@-webkit-keyframes settings-enter {
  0% {
    bottom: -180px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes settings-enter {
  0% {
    bottom: -180px;
  }
  100% {
    bottom: 0px;
  }
}

.middle {
  display: table;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.menuList {
  width: 320px;
  height: 100%;
}

.menuList ul {
  padding-left: 35px;
  list-style-type: none;
  line-height: 68px;
  font-size: 16px;
  text-transform: uppercase;
}

.menuList ul li {
  height: 68px;
  border-bottom: 1px solid;
  position: relative;
}

.menuList ul li span {
  color: #43899E;
}

.menuList ul li .mainMenuArrow {
  position: absolute;
  top: 12px;
  right: 12px;
  height: 44px;
  width: 44px;
  line-height: 44px;
  text-align: center;
  color: #43899E;
  font-size: 1.8em;
}

.alumniList {
  width: 320px;
  height: 100%;
}

.alumniList .mainMenuArrow {
  position: absolute;
  top: 12px;
  right: 12px;
  height: 44px;
  width: 44px;
  line-height: 44px;
  text-align: center;
  color: #43899E;
  font-size: 1.8em;
}

#geolocation {
  position: absolute;
  top: 25%;
  left: 25%;
  z-index: 5;
  color: white;
  display: none;
}

#bodyContent {
  display: inline;
  position: relative;
}

#infoWindowProfile {
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 64px;
  margin-top: 0px;
}

#infoWindowProfile img {
  width: 64px;
  height: 64px;
  border-radius: 64px;
}

.map-canvas {
  height: 400px;
}

#infoWindowText {
  margin-top: 0px;
  margin-left: 20px;
  display: inline-block;
  height: 55px;
  padding-top: 0px;
  vertical-align: bottom;
}

#infoWindowText span:nth-of-type(1) {
  font-size: 18px;
}

#infoWindowText span:nth-last-of-type(1) {
  font-size: 12px;
}

#menuFooter .menuFooter {
  right: 0px;
  z-index: 10;
  position: absolute;
  bottom: 0px;
  width: 320px;
  height: 68px;
  line-height: 44px;
  background-color: #181818;
  box-shadow: 0px 0px 4px #000000;
  font-size: 1.8em;
  /*    &.openSettings {
      -webkit-animation: Footer-settings-enter 0.125s ease-out reverse;
      animation: Footer-settings-enter 0.125s ease-out reverse;
    }*/
  /*  &.openSettings {
      bottom: 140px;
    }*/
}

#menuFooter .menuFooter.openSettings {
  -webkit-animation: Footer-settings-enter 0.125s ease-out;
  animation: Footer-settings-enter 0.125s ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}

@-webkit-keyframes Footer-settings-enter {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 180px;
  }
}

@keyframes Footer-settings-enter {
  0% {
    bottom: -0px;
  }
  100% {
    bottom: 180px;
  }
}

#menuFooter .menuFooter div {
  text-align: center;
}

#menuFooter .menuFooter div.back-button {
  position: absolute;
  left: 12px;
  bottom: 12px;
  width: 44px;
  height: 44px;
  color: #777;
}

#menuFooter .menuFooter div.main-title {
  width: 100%;
  color: white;
}

#menuFooter .menuFooter div.settings-button {
  position: absolute;
  right: 12px;
  bottom: 12px;
  width: 44px;
  height: 44px;
  color: #777;
}

#filter {
  background-color: #181818;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  color: white;
  box-shadow: 0px 0px 2px #000000;
}

#filter.ng-enter {
  -webkit-animation: filter-enter 0.125s ease-out;
  animation: filter-enter 0.125s ease-out;
}

#filter.ng-leave {
  -webkit-animation: filter-enter 0.125s ease-out reverse;
  animation: filter-enter 0.125s ease-out reverse;
}

@-webkit-keyframes filter-enter {
  0% {
    bottom: -70px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes filter-enter {
  0% {
    bottom: -70px;
  }
  100% {
    bottom: 0px;
  }
}

#filter .filter {
  padding-bottom: 14px;
}

#filter .filter div {
  /*&:nth-of-type(1) {*/
  /*margin-top: 20px;*/
  /*}*/
  /*&:nth-last-of-type(2) {*/
  /*margin-bottom: 27px;*/
  /*}*/
}

#filter .filter div.closeFilter {
  position: absolute;
  right: 12px;
  bottom: 12px;
  width: 44px;
  height: 44px;
  text-decoration: none;
  color: #555;
  text-align: center;
  z-index: 2;
  font-size: 1.8em;
  line-height: 44px;
  text-align: center;
}

#filter .filter div.checkbox {
  margin-left: 23px;
  margin-top: 20px;
  /*margin-top: 10px;*/
  /*margin-bottom: 20px;*/
}

#filter .filter div.checkbox input + span:after {
  background: #181818;
}

#filter .filter div.checkbox input:checked + span:after {
  /*background: $android-cyan;*/
  background: #43899E;
}

#filter .filter div.checkbox span {
  font-size: 18px;
  padding-left: 50px;
  color: #555;
  line-height: 20px;
  display: block;
  pointer-events: none;
}

#filter .filter div.checkbox span.filterSelected {
  color: #43899E !important;
}

#filter .filter div.checkbox span:after {
  /*background: #111;*/
}

#filter .filter div.input-group {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

#filter .filter div.input-group input {
  background-color: #222;
  border-color: #555;
  border-width: 0px;
  color: #5bc0de;
}

#filter .filter div.input-group span {
  background-color: #333;
  border-width: 0px;
  font-size: 20px;
}
