<div class="alumn">

  <ul>
    <li ng-show="selectedAlumn.full_name" class='alumn_profile'>
      <img ng-show="{{ selectedAlumn.GH_profile_picture !== undefined }}" ng-attr-src="{{selectedAlumn.GH_profile_picture}}"/>
      <img ng-hide="{{selectedAlumn.GH_profile_picture !== undefined}}" src="img/profile.jpg">
      <div>
        <span>{{selectedAlumn.full_name}}</span><span ng-show="selectedAlumn.latitude" ng-click="goToMapAlumn()" class="ion-android-locate"></span></br>
        <span>{{selectedAlumn.LI_positions}}</span></br>

        <div ng-show="selectedAlumn.LI_location_name">
          <span>{{selectedAlumn.LI_location_name}}</span> <span>{{selectedAlumn.LI_location_country_code}}</span>
        </div>
      </div>
      <div ng-show="selectedAlumn.cohort">HR{{selectedAlumn.cohort}}</div>
    </li>

    <li ng-show="selectedAlumn.LI_description || selectedAlumn.skills" class="alumn_description" ng-init="alumn_decription_show = false">
      <p ng-show="selectedAlumn.LI_description !== 'undefined'" class="alumn_description_text" ng-class="{alumn_description_text_all: alumn_decription_show}" ng-click="alumn_decription_show = !alumn_decription_show" ng-bind-html="selectedAlumn.LI_description | breakFilter"></p>
      <div>
        <ul>
          <li>{{selectedAlumn.skill_1}}</li>
          <li>{{selectedAlumn.skill_2}}</li>
          <li>{{selectedAlumn.skill_3}}</li>
        </ul>
      </div>
      <!-- <span>{{selectedAlumn.skills | toArray}}</span> -->
    </li>

    <li ng-show="selectedAlumn.LI_company" class="alumn_company">
      <a ui-sref="home.map.menu.companies.company({id: selectedAlumn.LI_company})">
        <div>
          <!-- Work at: <span>{{selectedAlumn.company.name}}</span><br> -->
          <span>{{selectedCompany.name}}</span><br>
          <span ng-show="selectedCompany.size">{{selectedCompany.size}}</span>
          <!-- <span>{{selectedAlumn.company.size}}</span> -->
        </div>
        <!-- <div>{{selectedAlumn.company.alumn}}</div> -->
        <div ng-click="openlink('{{selectedCompany.www}}')" class="ion-link"></div>
        <div>{{selectedCompany.alumni.length}}</div>
        <!-- <div> -->
          <!-- TODO LATER // ADD HERE PICURES OF ALUMN IN COMPANY -->
        <!-- </div> -->
        <img ng-show="selectedCompany.logo" src="{{selectedCompany.logo}}"/>
        <img ng-hide="selectedCompany.logo" src="img/comp.jpg"/>
      </a>
    </li>

    <li ng-show="selectedAlumn.GH_url" class="alumn_gh">
      <a ng-click="openlink('{{selectedAlumn.GH_url}}')">
        <span>Github profile</span>
        <div>{{selectedAlumn.GH_public_repos}}</div>
      <!-- <div>3</div> -->
        <div>{{selectedAlumn.GH_private_repos}}</div>
      <!-- <div>39</div> -->
        <object data="img/github-cat.svg" type="image/svg+xml"></object>
      </a>
    </li>

    <li ng-show="selectedAlumn.LI_url" class="alumn_li">
      <a ng-click="openlink('{{selectedAlumn.LI_url}}')">
        <span>LinkedIN profile</span>
        <object data="img/linkedin.svg" type="image/svg+xml"></object>
      </a>
    </li>

    <li ng-show="selectedAlumn.blog" class="alumn_blog">
      <a ng-click="openlink('{{selectedAlumn.blog}}')">
        <span>{{selectedAlumn.blog}}</span>
        <div class="ion-link"></div>
      </a>
    </li>

    <li ng-show="selectedAlumn.address" class="alumn_address">
      <a ng-click="openlink('http://maps.apple.com?q={{selectedAlumn.address}}')">
        <p>{{selectedAlumn.address}}</p>
        <div class="ion-planet"></div>
      </a>
    </li>

    <li ng-show="selectedAlumn.email" class="alumn_email">
      <a ng-click="openlink('mailto:{{selectedAlumn.email}}')">
        <p>{{selectedAlumn.email}}</p>
        <div class="ion-email"></div>
      </a>
    </li>

    <li ng-show="selectedAlumn.phone_number" class="alumn_phone">
      <!-- <a ng-click="openlink('tel:{{selectedAlumn.phone_number}}')">{{selectedAlumn.phone_number}}</a> -->
      <a>{{selectedAlumn.phone_number}}</a>
      <div ng-click="openlink('sms:{{selectedAlumn.phone_number}}')" class="ion-ios-chatbubble"></div>
      <div ng-click="openlink('tel:{{selectedAlumn.phone_number}}')" class="ion-ios-telephone"></div>
    </li>
    <li>{{selectedCompany.alumn}}</li>

<!--   <a ng-click="openlink('http://www.google.com')">GOOGLE.COM</a></br>
  <a ng-click="openlink('mailto:julesmoretti@me.com')">openlink(mailto:julesmoretti@me.com</a></br>
  <a ng-click="openlink('tel:12134007436')">openlink('tel:12134007436</a></br>
  <a ng-click="openlink('sms:12134007436')">openlink('sms:12134007436</a></br>
  <a ng-click="openlink('http://maps.apple.com?q=3405 Helen St, Apt 9, Oakland CA 94608')">openlink('http://maps.apple.com?q=3405 Helen St, Apt 9, Oakland CA 94608')</a></br> -->

  </ul>

</div>
