<div class="filter">

  <div class="closeFilter ion-android-close" ui-sref="home.map">
  </div>

  <!-- <paper-input label="Input label"></paper-input> -->
  <!-- <paper-input label="Input label" ng-model="myText"></paper-input> -->

  <div class="input-group">
    <span class="input-group-addon ion-android-close"></span>
    <input type="text" placeholder="Search a location" class="form-control" aria-label="Amount (to the nearest dollar)">
    <span class="input-group-addon ion-android-search"></span>
  </div>

  <div class="checkbox checkbox-slider--c checkbox-slider-info">
    <label>
      <input type="checkbox">
      <span>Alumni</span>
    </label>
  </div>

  <div class="checkbox checkbox-slider--c checkbox-slider-info">
    <label>
      <input type="checkbox">
      <span>Companies</span>
    </label>
  </div>

  <div class="checkbox checkbox-slider--c checkbox-slider-info">
    <label>
      <input type="checkbox">
      <span>Events</span>
    </label>
  </div>

</div>
