<div class="filter">

  <div class="closeFilter ion-android-close" ui-sref="home.map">
  </div>

  <!-- <paper-input label="Input label"></paper-input> -->
  <!-- <paper-input label="Input label" ng-model="myText"></paper-input> -->
<!-- {{infoWindow.show}} -->
  <form ng-submit="getPosition()">
    <div class="input-group">
      <span class="input-group-addon ion-android-close" ng-click="filterInput = ''"></span>
      <input id="filterInput" ng-model="filterInput" type="text" placeholder="Search a location" class="form-control" aria-label="Amount (to the nearest dollar)">
      <span class="input-group-addon ion-android-search" ng-click="getPosition()"></span>
    </div>
  </form>

  <div class="checkbox checkbox-slider--c checkbox-slider-info">
    <label>
      <input ng-model="filters.hrLounge" type="checkbox">
      <span ng-class="{filterSelected: filters.hrLounge }">HR Lounge</span>
    </label>
  </div>

  <div class="checkbox checkbox-slider--c checkbox-slider-info">
    <label>
      <input ng-model="filters.conferences" type="checkbox">
      <span ng-class="{filterSelected: filters.conferences }">Conferences</span>
    </label>
  </div>

  <div class="checkbox checkbox-slider--c checkbox-slider-info">
    <label>
      <input ng-model="filters.alumni" type="checkbox">
      <span ng-class="{filterSelected: filters.alumni }">Alumni</span>
    </label>
  </div>

  <div class="checkbox checkbox-slider--c checkbox-slider-info">
    <label>
      <input ng-model="filters.companies" type="checkbox">
      <span ng-class="{filterSelected: filters.companies }">Companies</span>
    </label>
  </div>

  <div class="checkbox checkbox-slider--c checkbox-slider-info">
    <label>
      <input ng-model="filters.events" type="checkbox">
      <span ng-class="{filterSelected: filters.events }">Events</span>
    </label>
  </div>

</div>
