
<!-- <div id="geolocation">Geolocation Data</div><br> -->
<!-- localstorage - {{$storage}} -->

<!-- <div ng-click="clearLocalStorage()">clear cache</div> -->

<a ui-sref="home" >home</a>

  <div id="map-canvas" ng-attr-style="width: {{windowWidth}}px; height: {{windowHeight}}px;"></div>

<!-- FILTER TOGGLE SWITCH -->
<div id="mapFilter" class="ion-android-more-vertical" ui-sref=".filter"></div>

<!-- MENU TOGGLE SWITCH -->
<div id="mapMenu" class="ion-android-menu" ui-sref=".menu"></div>

<!-- UI VIEWS FOR FILTER AND MENU -->
<div id="menu" ui-view="menu"></div>
<div id="filter" ui-view="filter"></div>
